body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.header {
    padding: 20px 0;
}

.news-container {
    padding: 20px 0;
}

.card {
    margin-bottom: 20px;
}

.fixed-action-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.chat-container {
    position: fixed;
    bottom: 80px;
    right: 20px;
    width: 300px;
    display: none;
    flex-direction: column;
    z-index: 1000;
}

.chat-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.chat-box {
    flex-grow: 1;
    height: 300px
